.text-bg-widget-badge-outrageous-orange {
	background-color: #FF5733 !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-egyptian-blue {
	background-color: #1F3A93 !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-padua {
	background-color: #7DCEA0 !important;
	color: #000000 !important;
}

.text-bg-widget-badge-salmon {
	background-color: #FFA07A !important;
	color: #000000 !important;
}

.text-bg-widget-badge-yellow {
	background-color: #FFD700 !important;
	color: #000000 !important;
}

.text-bg-widget-badge-purple {
	background-color: #8E44AD !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-cyan {
	background-color: #00BCD4 !important;
	color: #000000 !important;
}

.text-bg-widget-badge-cello {
	background-color: #34495E !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-ruby {
	background-color: #E91E63 !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-green {
	background-color: #27AE60 !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-lighy-green {
	background-color: #1ABC9C !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-brown {
	background-color: #A0522D !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-malibu {
	background-color: #5DADE2 !important;
	color: #000000 !important;
}

.text-bg-widget-badge-persian-red {
	background-color: #C0392B !important;
	color: #FFFFFF !important;
}

.text-bg-widget-badge-cream {
	background-color: #F5CBA7 !important;
	color: #000000 !important;
}

/////////////////////////////////////////////////
.text-bg-widget-badge-outrageous-orange-border {
	color: #FF5733 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-egyptian-blue-border {
	color: #1F3A93 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-padua-border {
	color: #7DCEA0 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-salmon-border {
	color: #FFA07A !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-yellow-border {
	color: #FFD700 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-purple-border {
	color: #8E44AD !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-cyan-border {
	color: #00BCD4 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-cello-border {
	color: #34495E !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-ruby-border {
	color: #E91E63 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-green-border {
	color: #27AE60 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-lighy-green-border {
	color: #1ABC9C !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-brown-border {
	color: #A0522D !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-malibu-border {
	color: #5DADE2 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-persian-red-border {
	color: #C0392B !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

.text-bg-widget-badge-cream-border {
	color: #F5CBA7 !important;
	background-color: transparent !important;
	border: solid 2px !important;
}

/////////////////////////////////////////////////
.text-bg-widget-badge-outrageous-orange-dashed {
	color: #FF5733 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-egyptian-blue-dashed {
	color: #1F3A93 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-padua-dashed {
	color: #7DCEA0 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-salmon-dashed {
	color: #FFA07A !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-yellow-dashed {
	color: #FFD700 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-purple-dashed {
	color: #8E44AD !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-cyan-dashed {
	color: #00BCD4 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-cello-dashed {
	color: #34495E !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-ruby-dashed {
	color: #E91E63 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-green-dashed {
	color: #27AE60 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-lighy-green-dashed {
	color: #1ABC9C !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-brown-dashed {
	color: #A0522D !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-malibu-dashed {
	color: #5DADE2 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-persian-red-dashed {
	color: #C0392B !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}

.text-bg-widget-badge-cream-dashed {
	color: #F5CBA7 !important;
	background-color: transparent !important;
	border: dashed 2px !important;
	font-style: italic !important;
}