.o_main_navbar {
	.dropdown-header.dropdown-menu_group {
		color: white;
		background: $o-brand-primary;
		padding-bottom: .5em;
	}
}

.dropdown-header.dropdown-header {
	color: white;
	background: $o-brand-primary;
	padding-bottom: .5em;
}